[Unit]
Description= binance full node
After=network.target

[Service]
# run as root, set base_path in binance.toml
ExecStart={{ binance_geth_path }} --config {{ binance_config }}  --datadir {{ binance_datadir }}
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target
